h1 {
    font: color="white" face="arial"
    }
    .img1 {
    width: 150px;
    height: 100px;
    }
    .img2 {
        width: 150px;
        height: 100px;
        }
        .img3 {
            width: 150px;
            height: 100px;
            }